@charset "UTF-8";

article, aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p,
article, aside, footer, header, main, nav, section {
  padding: 0;
  margin: 0;
}

.banner {
  background-color: #FFC0CB;
  color: black;
  padding: 10px 20px;
}

body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("abcd.jpg");
  background-size: cover;
  background-position: center;
    background-repeat: no-repeat;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

nav {
  background-color: #D8BFD8;
  padding: 5px;
  margin-top: 1px;
}

li a {
  color: black;
}

li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
}

section {
  background-color: #FFC0CB;
  margin-top: 10px;
  padding: 5px;
}

article {
  background-color:	#D8BFD8;
  margin-top: 5px;
  padding: 10px 15px;
}

main {
  width: 640px;
  float: left;
  margin-bottom: 10px;
}

aside {
  background-color: #FFC0CB;
  width: 270px;
  float: right;
  margin-top: 10px;
  padding: 5px;
}

footer {
  clear: both;
  background-color: #FFC0CB;
  color: darksalmon;
}